# CME 193 - Lecture 5 - Pandas

Before we get started, you may want to make sure that you have the following packages installed in whatever environment you're using: `pandas`

```bash
conda install pandas
```

Pandas is a package for working with tabular data.  

We'll also cover dictionaries and lambda functions today.

At the end of class, we'll have a longer exercise than usual in a supplemental notebook.

# Pandas

[Pandas](https://pandas.pydata.org/) is a Python library for dealing with data.  The main thing you'll hear people talk about is the DataFrame object (inspired by R), which is designed to hold tabular data.

## Difference between a DataFrame and NumPy Array

Pandas DataFrames and NumPy arrays both have similarities to Python lists.  
* Numpy arrays are designed to contain data of one type (e.g. Int, Float, ...)
* DataFrames can contain different types of data (Int, Float, String, ...)
    * Usually each column has the same type
    
    
Both arrays and DataFrames are optimized for storage/performance beyond Python lists

Pandas is also powerful for working with missing data, working with time series data, for reading and writing your data, for reshaping, grouping, merging your data, ...

## Key Features

* File I/O - integrations with multiple file formats
* Working with missing data (.dropna(), pd.isnull())
* Normal table operations: merging and joining, groupby functionality, reshaping via stack, and pivot_tables,
* Time series-specific functionality:
    * date range generation and frequency conversion, moving window statistics/regressions, date shifting and lagging, etc.
* Built in Matplotlib integration

## Other Strengths

* Strong community, support, and documentation
* Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects
* Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
* Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects Intelligent label-based slicing, fancy indexing, and subsetting of large data sets

## Python/Pandas vs. R

* R is a language dedicated to statistics. Python is a general-purpose language with statistics modules.
* R has more statistical analysis features than Python, and specialized syntaxes.

However, when it comes to building complex analysis pipelines that mix statistics with e.g. image analysis, text mining, or control of a physical experiment, the richness of Python is an invaluable asset.

# Getting Started

[Here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) is a link to the documentation for DataFrames

In [6]:
import pandas as pd
import numpy as np

## Objects and Basic Creation

| Name | Dimensions | Description  |
| ------:| -----------:|----------|
| ```pd.Series``` | 1 | 1D labeled homogeneously-typed array |
| ```pd.DataFrame```  | 2| General 2D labeled, size-mutable tabular structure |
| ```pd.Panel``` | 3|  General 3D labeled, also size-mutable array |

# Series
## What are they?
- Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.
- Basic method to create a series: 
```python 
s = pd.Series(data, index = index) ```
- Data Can be many things:
    * A Python Dictionary
    * An ndarray (or reg. list)
    * A scalar 
- The passed index is a list of axis labels (which varies on what data is)

Think "Series = Vector + labels"

In [7]:
first_series = pd.Series([1,2,4,8,16,32,64])
print(type(first_series))
print(first_series)

<class 'pandas.core.series.Series'>
0     1
1     2
2     4
3     8
4    16
5    32
6    64
dtype: int64

In [8]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)
print('-'*50)
print(s.index)

a    1.032607
b   -2.297337
c   -1.056558
d    0.854563
e    1.574117
dtype: float64
--------------------------------------------------
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the sorted keys of the dict

In [9]:
d = {'a': [0., 0], 'b': {'1':1.}, 'c': 2.}
pd.Series(d)

a      [0.0, 0]
b    {'1': 1.0}
c           2.0
dtype: object

### Side Note: Dictionaries

We've seen Python lists.  Dictionaries are just another built-in Python data structure.  Dictionaries consist of key-value pairs, and are constructed using 
```python
D = { key : value, ...}```

In [10]:
D = {1 : 5, 2 : 6}
# iteration over dictionary
for (k,v) in D.items():
    print("key : %d   value : %d" % (k, v))
    
    
print("\n\n")
D = {'a' : 1, 'b' : 2}
D['c'] = 3 # another way to set a key-value pair
# another way to iterate
for k in D:
    v = D[k] # access value with key k
    print("key : %s   value : %d" % (k, v))

key : 1   value : 5
key : 2   value : 6



key : a   value : 1
key : b   value : 2
key : c   value : 3

### Back to Pandas series...

You can create a series from a scalar, but need to specify indices

In [11]:
pd.Series(5, index = ['a', 'b', 'c'])

a    5
b    5
c    5
dtype: int64

You can index and slice series like you would numpy arrays/python lists

In [12]:
end_string = '\n' + '-'*50 + '\n'
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    1.930498
b    0.968153
c    1.297900
d   -1.184451
e   -1.109911
dtype: float64

In [13]:
print(s[0], end = end_string)
# slicing
print(s[:3], end =end_string)

1.9304982464537752
--------------------------------------------------
a    1.930498
b    0.968153
c    1.297900
dtype: float64
--------------------------------------------------

In [14]:
# conditional max - index with booleans
print(s[ s > s.mean()], end = end_string)
# elementwise function - vectorization
print(np.exp(s), end = end_string)

a    1.930498
b    0.968153
c    1.297900
dtype: float64
--------------------------------------------------
a    6.892944
b    2.633077
c    3.661598
d    0.305914
e    0.329588
dtype: float64
--------------------------------------------------

Series are also like dictionaries - you can access values using index labels

In [15]:
print(s, end = end_string)
print(s['a'], end = end_string)

a    1.930498
b    0.968153
c    1.297900
d   -1.184451
e   -1.109911
dtype: float64
--------------------------------------------------
1.9304982464537752
--------------------------------------------------

In [16]:
s['e'] = 12 # set element using index label
print(s, end = end_string)
print('e' in s, end = end_string) # check for index label
print(s.get('f', None), end = end_string) # get item with index 'f' - if no such item return None
print(s.get('e', None), end = end_string)

a     1.930498
b     0.968153
c     1.297900
d    -1.184451
e    12.000000
dtype: float64
--------------------------------------------------
True
--------------------------------------------------
None
--------------------------------------------------
12.0
--------------------------------------------------

### Series Attributes:

- Get the index : 
```python 
s.index ``` 
- Get the values :
``` python 
s.values ``` 
- Find the shape : 
``` python 
s.shape ``` 

### Series Iteration

In [17]:
for idx,val in s.iteritems():
    print(idx,val)

a 1.9304982464537752
b 0.9681530095751932
c 1.2978996619630634
d -1.1844512202276005
e 12.0

Sort by index or by value

In [18]:
print(s.sort_index(), end = end_string)
print(s.sort_values(), end = end_string)

a     1.930498
b     0.968153
c     1.297900
d    -1.184451
e    12.000000
dtype: float64
--------------------------------------------------
d    -1.184451
b     0.968153
c     1.297900
a     1.930498
e    12.000000
dtype: float64
--------------------------------------------------

Find counts of unique values

In [19]:
s = pd.Series([0,0,0,1,1,1,2,2,2,2])
sct = s.value_counts() # what is the type of sct?
print(sct)

2    4
0    3
1    3
dtype: int64

You can do just about anything you can do with a numpy array

- Series.mean()
- Series.median()
- Series.mode()
- Series.nsmallest(num)
- Series.max ...

In [20]:
print(s.min(),end = end_string)
print(s.max(), end = end_string)

0
--------------------------------------------------
2
--------------------------------------------------

# DataFrame
- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.
- You can create a DataFrame from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - A Series
    - Another Dataframe
``` python
df = pd.DataFrame(data, index = index, columns = columns)
```
- ```index```/ ``` columns ``` is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df. 
- If you do not pass anything in, the input will be constructed by "common sense" rules

[**pandas.DataFrame**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

# DataFrame Creation From dict of series or dicts
- The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be first converted to Series. 
- If no columns are passed, the columns will be the sorted list of dict keys.

In [21]:
# Create a dictionary of series
d = {'one': pd.Series([1,2,3], index  = ['a', 'b', 'c']), 
     'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df, end = end_string)

d= {'one': {'a': 1, 'b': 2, 'c':3}, 
     'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
# Columns are dictionary keys, indices and values obtained from series
df = pd.DataFrame(d)
# Notice how it fills the column one with NaN for d
print(df, end = end_string)

   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3
--------------------------------------------------
   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3
--------------------------------------------------

In [22]:
d = {'one': pd.Series([1,2,3], index  = ['a', 'b', 'c']), 
     'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}

print(pd.DataFrame(d, index = ['d', 'b', 'a']), end = end_string)
print(pd.DataFrame(d, index = ['d', 'b', 'a'], columns = ['two', 'three']),
      end = end_string)

   one  two
d  NaN    3
b  2.0    1
a  1.0    0
--------------------------------------------------
   two three
d    3   NaN
b    1   NaN
a    0   NaN
--------------------------------------------------

In [23]:
# Accessing attributes
print(df.index, end = end_string)
print(df.columns,end = end_string)
print(df.shape)

Index(['a', 'b', 'c', 'd'], dtype='object')
--------------------------------------------------
Index(['one', 'two'], dtype='object')
--------------------------------------------------
(4, 2)

# From dict of ndarray / lists
- The ndarrays must all be the same length. 
- If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [24]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

# From a list of dicts

In [25]:
data = []
for i in range(100):
    data += [ {'Column' + str(j):np.random.randint(100) for j in range(5)} ]
    # dictionary comprehension!
    
data[:5]

[{'Column0': 60, 'Column1': 14, 'Column2': 12, 'Column3': 92, 'Column4': 11},
 {'Column0': 18, 'Column1': 60, 'Column2': 46, 'Column3': 41, 'Column4': 58},
 {'Column0': 30, 'Column1': 33, 'Column2': 89, 'Column3': 56, 'Column4': 31},
 {'Column0': 97, 'Column1': 77, 'Column2': 38, 'Column3': 99, 'Column4': 98},
 {'Column0': 77, 'Column1': 96, 'Column2': 31, 'Column3': 92, 'Column4': 58}]

In [26]:
# Creation from a list of dicts
df = pd.DataFrame(data)
print(df.head(), end = end_string)

   Column0  Column1  Column2  Column3  Column4
0       60       14       12       92       11
1       18       60       46       41       58
2       30       33       89       56       31
3       97       77       38       99       98
4       77       96       31       92       58
--------------------------------------------------

In [27]:
# Only certain columns
df = pd.DataFrame(data, columns = ['Column0', 'Column1'])
print(df.head(), end = end_string)

   Column0  Column1
0       60       14
1       18       60
2       30       33
3       97       77
4       77       96
--------------------------------------------------

## Attributes

- ``` df.index ``` : the row index of df
- ``` df.columns ``` : the columns of df
- ``` df.shape ``` : the shape of the df
- ``` df.values ``` : numpy array of values

In [28]:
# Adding and accessing columns 
d = {'one': pd.Series([1,2,3], index  = ['a', 'b', 'c']), 
     'two': pd.Series(range(4), index = ['a','b', 'c', 'd'])}
df = pd.DataFrame(d)
# multiply 
df['three'] =  df['one']*df['two']
# Create a boolean flag
df['flag'] = df['one'] > 2
print(df.head())

   one  two  three   flag
a  1.0    0    0.0  False
b  2.0    1    2.0  False
c  3.0    2    6.0   True
d  NaN    3    NaN  False

In [29]:
# inserting column in specified location, with values
df.insert(1, 'bar', df['one'][:2])
print(df.head())

   one  bar  two  three   flag
a  1.0  1.0    0    0.0  False
b  2.0  2.0    1    2.0  False
c  3.0  NaN    2    6.0   True
d  NaN  NaN    3    NaN  False

In [30]:
# Deleting Columns  
three = df.pop('three')
print(df.head(), end = end_string)
# Propation of values
df['foo'] = 'bar'
print(df, end = end_string)

   one  bar  two   flag
a  1.0  1.0    0  False
b  2.0  2.0    1  False
c  3.0  NaN    2   True
d  NaN  NaN    3  False
--------------------------------------------------
   one  bar  two   flag  foo
a  1.0  1.0    0  False  bar
b  2.0  2.0    1  False  bar
c  3.0  NaN    2   True  bar
d  NaN  NaN    3  False  bar
--------------------------------------------------

## Indexing and Selection 

- 4 methods ``` [], ix, iloc, loc ```

| Operation  | Syntax       | Result | 
|----|----------------------| ---------------------------|
| Select Column | df[col]   |    Series                      |
| Select Row by Label | df.loc[label] | Series  |
| Select Row by Integer Location | df.iloc[idx] |      Series                    |
| Slice rows | df[5:10]        |                        DataFrame  | 
| Select rows by boolean | df[mask]   | DataFrame        |

- Note all the operations below are valid on series as well restricted to one dimension

## Simplest form Of Indexing: []
- Series: selecting a label: s[label] 
- DataFrame: selection single or multiple columns: 
``` python 
df['col'] or df[['col1', 'col2']] ``` 
- DataFrame: slicing the rows:
``` python
df['rowlabel1': 'rowlabel2'] ``` 
or 
``` python 
df[boolean_mask] ```

In [31]:
# Lets create a data frame
pd.options.display.max_rows = 4
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
df

                   A         B         C         D
2000-01-01 -0.432992  0.794524 -0.981488  0.807006
2000-01-02 -1.313710 -0.393522 -0.760703 -0.070385
...              ...       ...       ...       ...
2000-01-07  0.769624 -0.245291 -0.527275  1.233888
2000-01-08  1.099851 -1.424226 -1.303412 -2.493087

[8 rows x 4 columns]

In [32]:
# column  'A
df['A']

2000-01-01   -0.432992
2000-01-02   -1.313710
                ...
2000-01-07    0.769624
2000-01-08    1.099851
Freq: D, Name: A, Length: 8, dtype: float64

In [33]:
# multiple column 
df[['A', 'B']]

                   A         B
2000-01-01 -0.432992  0.794524
2000-01-02 -1.313710 -0.393522
...              ...       ...
2000-01-07  0.769624 -0.245291
2000-01-08  1.099851 -1.424226

[8 rows x 2 columns]

In [34]:
# slice by rows
df['2000-01-01': '2000-01-04']

                   A         B         C         D
2000-01-01 -0.432992  0.794524 -0.981488  0.807006
2000-01-02 -1.313710 -0.393522 -0.760703 -0.070385
2000-01-03 -0.117084  0.302993  1.811664 -0.210843
2000-01-04 -1.854133  0.322544 -1.448375 -0.536139

In [35]:
# boolean mask 
df[df['A'] > df['B']].head()

                   A         B         C         D
2000-01-06  0.960818 -0.981920  1.289727  0.394615
2000-01-07  0.769624 -0.245291 -0.527275  1.233888
2000-01-08  1.099851 -1.424226 -1.303412 -2.493087

In [36]:
### You can also access a column by df.colname
df.A
# Assign via []
df['A'] = df['B'].values
df.head()

                   A         B         C         D
2000-01-01  0.794524  0.794524 -0.981488  0.807006
2000-01-02 -0.393522 -0.393522 -0.760703 -0.070385
...              ...       ...       ...       ...
2000-01-04  0.322544  0.322544 -1.448375 -0.536139
2000-01-05  0.037655  0.037655  0.613117 -0.676744

[5 rows x 4 columns]

In [37]:
df.A

2000-01-01    0.794524
2000-01-02   -0.393522
                ...
2000-01-07   -0.245291
2000-01-08   -1.424226
Freq: D, Name: A, Length: 8, dtype: float64

## Selecting by label .loc

- is primarily label based, but may also be used with a boolean array.
- .loc will raise KeyError when the items are not found
- Allowed inputs:
    1. A single label 
    2. A list of labels
    3. A boolean array

In [38]:
## Selection by label .loc
df.loc['2000-01-01']

A    0.794524
B    0.794524
C   -0.981488
D    0.807006
Name: 2000-01-01 00:00:00, dtype: float64

In [39]:
# Accessing all greater than a date 
df.loc['2000-01-01':, ['A', 'B']]

                   A         B
2000-01-01  0.794524  0.794524
2000-01-02 -0.393522 -0.393522
...              ...       ...
2000-01-07 -0.245291 -0.245291
2000-01-08 -1.424226 -1.424226

[8 rows x 2 columns]

In [40]:
# Get columns for which value is greater than 0 on certain day, get all rows
df.loc[:, df.loc['2000-01-01'] > 0]

                   A         B         D
2000-01-01  0.794524  0.794524  0.807006
2000-01-02 -0.393522 -0.393522 -0.070385
...              ...       ...       ...
2000-01-07 -0.245291 -0.245291  1.233888
2000-01-08 -1.424226 -1.424226 -2.493087

[8 rows x 3 columns]

## Selecting by position 

- The .iloc attribute is the primary access method. The following are valid input:
    - An integer
    - A list of integers
    - A slice 
    - A boolean array

In [41]:
df1 = pd.DataFrame(np.random.randn(6,4), 
                   index=list(range(0,12,2)), columns=list(range(0,12,3)))

df1

           0         3         6         9
0   0.687839 -1.484482  0.151833 -0.623265
2  -0.928222  0.199967  1.673942 -1.207817
..       ...       ...       ...       ...
8  -1.816738  0.466346  1.636525  1.877947
10 -0.611674 -0.407246  0.866578  1.028162

[6 rows x 4 columns]

In [42]:
# rows 0-2
df1.iloc[:3]

          0         3         6         9
0  0.687839 -1.484482  0.151833 -0.623265
2 -0.928222  0.199967  1.673942 -1.207817
4 -1.294674  1.134818 -0.549878  0.384386

In [43]:
#  rows 1:4  and columns 2 : 4
df1.iloc[1:5, 2:4]

          6         9
2  1.673942 -1.207817
4 -0.549878  0.384386
6  2.579477 -0.001474
8  1.636525  1.877947

In [44]:
# select via integer list
df1.iloc[[1,3,5], [1,3]]

           3         9
2   0.199967 -1.207817
6  -1.058326 -0.001474
10 -0.407246  1.028162

In [45]:
# selecting via integer mask 
boolean_mask = df1.iloc[:, 1] > 0.0
df1.iloc[boolean_mask.values,1]

2    0.199967
4    1.134818
8    0.466346
Name: 3, dtype: float64

# Merging DataFrames

- Pandas has full-featured, very high performance, in memory join operations that are very similar to SQL and R 

- The documentation is https://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging

- Pandas provides a single function, merge, as the entry point for all standard database join operations between DataFrame objects: 
``` python
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
left_index=False, right_index=False, sort=True) ```

In [46]:
# Example of merge
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [4, 2]})
right = pd.DataFrame({'key': ['bar', 'zoo'], 'rval': [4, 5]})

print("left: ",left,"right: ",right, sep=end_string)

left:
--------------------------------------------------
   key  lval
0  foo     4
1  bar     2
--------------------------------------------------
right:
--------------------------------------------------
   key  rval
0  bar     4
1  zoo     5

In [47]:
merged = pd.merge(left, right)
print(merged)

   key  lval  rval
0  bar     2     4

In [48]:
merged = pd.merge(left, right, how="outer")
print(merged)

   key  lval  rval
0  foo   4.0   NaN
1  bar   2.0   4.0
2  zoo   NaN   5.0

In [49]:
merged = pd.merge(left, right, how="left")
print(merged)

   key  lval  rval
0  foo     4   NaN
1  bar     2   4.0

In [50]:
merged = pd.merge(left, right, how="right")
print(merged)

   key  lval  rval
0  bar   2.0     4
1  zoo   NaN     5

## Function Application
 - Row or Column-wise Function Application: Applies function along input axis of DataFrame
```python 
df.apply(func, axis = 0) ``` 
 - Elementwise: apply the function to every element in the df 
 ```python 
df.applymap(func) ``` 

- Note, ``` applymap ``` is equivalent to the ``` map ``` function on lists. 
- Note, ``` Series ``` objects support ``` .map ``` instead of ``` applymap ```

In [51]:
## APPLY EXAMPLES
df1 = pd.DataFrame(np.random.randn(6,4), index=list(range(0,12,2)), columns=list('abcd'))
df1

           a         b         c         d
0  -0.156825 -0.742173 -0.835762  0.252691
2   0.240152 -0.390297 -0.913613  0.285423
..       ...       ...       ...       ...
8   0.824521  0.254666  1.913693 -0.912214
10  1.323489 -1.851925  0.656900 -2.677382

[6 rows x 4 columns]

In [52]:
# Apply to each column
df1.apply(np.mean)

a    0.600349
b   -0.577640
c   -0.037567
d   -0.323921
dtype: float64

In [53]:
# Apply to each row
df1.apply(np.mean, axis = 1)

0    -0.370517
2    -0.194584
        ...
8     0.520167
10   -0.637229
Length: 6, dtype: float64

### Side note: lambda functions

lambda functions allow you to specify a function without giving it a separate declaration.  For example, the function 
```python
lambda x: (x - x.mean())/x.std()
```
is equivalent to the function
```python
def normalize(x):
    return (x - x.mean())/x.std()
```
You'll often see lambda functions used in list comprehensions, or in methods (like `map()`, `apply()`, or `applymap()`) that take a function as input.

In [54]:
# # Use lambda functions  to normalize columns
df1 = df1.apply(lambda x: (x - x.mean())/ x.std(), axis = 0)
df1

           a         b         c         d
0  -1.182926 -0.212435 -0.539085  0.451412
2  -0.562732  0.241888 -0.591664  0.477037
..       ...       ...       ...       ...
8   0.350222  1.074631  1.317843 -0.460557
10  1.129756 -1.645290  0.469030 -1.842454

[6 rows x 4 columns]

In [55]:
## APPLY EXAMPLES CONT
# Create DF with 1000 rows and 3 columns filled with random entries
tsdf = pd.DataFrame(np.random.randn(1000, 3), columns=['A', 'B', 'C'],
                    index=pd.date_range('1/1/2000', periods=1000))

tsdf.head()

                   A         B         C
2000-01-01  1.323590 -0.040263 -0.095787
2000-01-02  0.028275 -0.973688 -0.324433
...              ...       ...       ...
2000-01-04  1.386502 -0.737659  0.357468
2000-01-05 -1.819440  1.421841  0.842946

[5 rows x 3 columns]

In [56]:
# Can get trickier, say I wanted to find where the maximum dates occured for each column of the df:
tsdf.apply(lambda x: x.idxmax())

A   2002-08-02
B   2001-04-14
C   2000-04-18
dtype: datetime64[ns]

In [57]:
## APPLYMAP EXAMPLES
tmp = tsdf.applymap(lambda x: x - 1)
print(tmp.head())

                   A         B         C
2000-01-01  0.323590 -1.040263 -1.095787
2000-01-02 -0.971725 -1.973688 -1.324433
...              ...       ...       ...
2000-01-04  0.386502 -1.737659 -0.642532
2000-01-05 -2.819440  0.421841 -0.157054

[5 rows x 3 columns]

# I/O Functions

- There are loads of input output features. The highlights most useful to you are likely:
    - ``` pd.read_csv ``` / ``` pd.to_csv ``` 
    - ``` pd.read_excel ``` / ``` pd.to_excel ```
    - ``` pd.read_sql ``` / ``` pd.to_sql ```
    - ``` pd.read_pickle ``` / ``` pd.to_pickle ```
Documentation:

* [Pandas Import-Output Functions](https://pandas.pydata.org/pandas-docs/stable/io.html)

### Loading data from CSV
Here are the first several lines of `iris.csv`:

```
sepal_length,sepal_width,petal_length,petal_width,name
5.1,3.5,1.4,0.2,setosa
4.9,3.0,1.4,0.2,setosa
4.7,3.2,1.3,0.2,setosa
4.6,3.1,1.5,0.2,setosa
5.0,3.6,1.4,0.2,setosa
5.4,3.9,1.7,0.4,setosa
```

In [58]:
import pandas as pd
# Can use df.info to find out information about the df 
data = pd.read_csv('./data/iris.csv')
data.info()

FileNotFoundError: [Errno 2] No such file or directory: './data/iris.csv'

In [59]:
# describe and summarize the dataframe
data.describe()

AttributeError: 'list' object has no attribute 'describe'

## The split/apply combo (groupyby)
- pandas objects can be split on any of their axes. The abstract definition of grouping is to provide a mapping of labels to group names:
- Syntax:  
    - ``` groups = df.groupby(key) ```
    - ``` groups = df.groupby(key, axis = 1) ```
    - ``` groups = df.groupby([key1, key2], axis = 1) ```

### A picture

- The group by concept is that we want to apply the same function on subsets of the dataframe, based on some key we use to split the DataFrame into subsets
- This idea is referred to as the "split-apply-combine" operation:
    - Split the data into groups based on some criteria
    - Apply a function to each group independently
    - Combine the results 

![image](./img/splitApplyCombine.png)

In [60]:
df = pd.DataFrame({'key':['A','B','C','A','B','C','A','B','C'],
                   'data': [0, 5, 10, 5, 10, 15, 10, 15, 20]})
df

   key  data
0    A     0
1    B     5
..  ..   ...
7    B    15
8    C    20

[9 rows x 2 columns]

In [61]:
groupby_key = df.groupby('key')

sums = groupby_key.aggregate(np.sum)
sums

     data
key
A      15
B      30
C      45

# Plotting data

- The plot method on Series and DataFrame is just a wrapper on matplotlib plt.plot()
- Many available plots:
    - ‘bar’ or ‘barh’ for bar plots
    - ‘hist’ for histogram
    - ‘box’ for boxplot
    - ‘kde’ or 'density' for density plots • ‘area’ for area plots
    - ‘scatter’ for scatter plots
    - ‘hexbin’ for hexagonal bin plots • ‘pie’ for pie plots
    
- There are several more complex plotting functions in pandas.tools.plotting that take a Series or DataFrame as an argument. These include:
    - Scatter matrices
    - Andrews Curves
    - Autocorrelation
    - Bootstrap Plot

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
data.plot();

In [ ]:
## Quick example - Random walks
df = pd.DataFrame(np.random.randn(1000, 4), index =pd.date_range('1/1/2000', periods=1000), columns=list('ABCD'))
df = df.cumsum()
df.plot()
plt.show()

In [ ]:
plt.figure()
df.iloc[5].plot(kind = 'bar')
plt.axhline(0, color = 'k')

In [ ]:
data = pd.read_csv('./data/iris.csv')
ax = data.groupby('name') \
         .get_group('setosa') \
         .boxplot(column=["sepal_length","sepal_width"], return_type='axes')

# Exercise

Work through the supplement notebook, posted online.